<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- Vue.js development version -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- Vue.js production version -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="styles.min.css" type="text/css" />

		<title>Deck of Many Things</title>
	</head>
	<body>
		<div id="app" :class="{'draconic' : options.draconic == true}" :style="{ height: windowHeight }">
			<header>
				<h1>Deck of Many Things</h1>
				<div class="settings-icon" @click="toggleMenu()">
					<i class="fas fa-bars"></i>
				</div>
			</header>
			<main>
				<template v-if="menuOpen">
					<button @click="resetGame()">Reshuffle deck</button>
					<br>
					<br>
					<input type="checkbox" name="checkbox-draconic" id="checkbox-draconic" value="checkbox-draconic" v-model="options.draconic">
					<label for="checkbox-draconic" class="fas"></label>
					<label for="checkbox-draconic">Draconic</label>
				</template>

				<template v-else>
					<div class="current-card" :class="{ 'full-image' : fullImage == true}">
						<div class="card-image" @click="toggleView()">
							<img :src="'images/' + drawData.currentCard.image" :alt="drawData.currentCard.name">
						</div>
						<div id="card-info" v-if="fullImage != true">
							<div class="card-name" v-if="drawData.currentCard.name"><strong>{{drawData.currentCard.name}}</strong></div>
							<div class="card-removed" v-if="drawData.currentCard.removeCard">Card removed from deck</div>
							<div class="card-description" v-if="drawData.currentCard.description">{{drawData.currentCard.description}}</div>
							<div class="card-long-description" v-if="drawData.currentCard.longDescription">{{drawData.currentCard.longDescription}}</div>
						</div>
					</div>
					<div class="drawn-cards">
						<div class="drawn-card" v-for="(drawnCard, index) in drawData.history" :class="{ removed: drawnCard.removeCard }" @click="setCardFromHistory(index)" :data-history-index="index" >
							<img :src="'images/' + drawnCard.image" alt="drawnCard.name">
						</div>
					</div>
				</template>

			</main>
			<footer class="deck-actions">
				<button class="draw-card" @click="getCard()">Draw Card</button>
			</footer>
		</div>
		<script type="text/javascript" src="scripts.min.js"></script>
	</body>
</html>
