@font-face {
	font-family: Draconic;
		src: url('fonts/DND5EDraconicScript.ttf') format('truetype');
}
@font-face {
	font-family: Draconic2;
		src: url('fonts/Iokharic-dqvK.ttf') format('truetype');
}