*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: arial;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header,
footer {
	height: 50px;
	background: firebrick;
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	padding: 0 20px;

	h1 {
		font-weight: 300;
		text-transform: uppercase;
		font-size: 24px;
	}
}
main {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px;
}
.card-image {
	padding-bottom: 20px;
	max-height: 32vh;
	display: flex;

	img {
		display: block;
		margin: 0 auto;
		object-fit: contain;
	}
}
.card-info {
	flex: 1;
}
.card-description {
	padding: 15px 0;
}
.drawn-cards,
.deck-actions {
	height: 60px;
}
.drawn-cards {
	white-space: nowrap;
	max-width: 100%;
	overflow: auto;
	border: 1px solid #ddd;
	padding: 4px;
}
.drawn-card {
	height: 50px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: bottom;

	img {
		max-height: 100%;
		margin: 0 auto;
		display: block;
	}
}
.draw-card {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	border: 2px solid #fff;
	background: transparent;
	border-radius: 5px;
	padding: 4px 18px;
	cursor: pointer;
	outline: none;
}
